<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cityguide">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".User.UserProfile"></activity>
        <activity android:name=".User.NearbyPlaces" />
        <activity android:name=".Common.LoginSingup.VerifyOTP" />
        <activity android:name=".Common.LoginSingup.ForgetPasswordSuccessMessage" />
        <activity android:name=".Common.LoginSingup.SetNewPassword" />
        <activity android:name=".Common.LoginSingup.MakeSelection" />
        <activity android:name=".Common.LoginSingup.ForgetPassword" />
        <activity android:name=".Common.LoginSingup.SignUp3rdClass" />
        <activity android:name=".Common.LoginSingup.SignUp2ndClass" />
        <activity android:name=".Common.LoginSingup.SignUp" />
        <activity android:name=".Common.LoginSingup.Login" />
        <activity android:name=".Common.LoginSingup.RetailerStartUpScreen" />
        <activity android:name=".User.AllCategories" />
        <activity android:name=".Common.OnBoarding" />
        <activity android:name=".User.UserDashboard" />
        <activity android:name=".Common.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDb-9xwoc5EQnhwcGlscwa-Pz0ks2YfMMY" />
    </application>

</manifest>